body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px gray;
}

h1 {
    color: coral;
    text-align: center;
}

p {
    line-height: 1.6em;
    color: #666;
    text-align: center;
}

hr {
    border: none;
    height: 2px;
    background-color: coral;
    width: 50px;
    margin: 10px auto;
}
